.formulario {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

form {
    margin-top: 32px;
}

form label {
    margin-top: 32px;
}

form button {
    margin-top: 32px;
    width: 50%;
}
